services:
  mysql:
    image: mysql:latest
    env_file:
      - .env.mysql
    ports:
      - "3306:3306"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  application:
    image: ${ECR_REGISTRY}/gsmc-application:latest
    env_file:
      - .env
    depends_on:
      - mysql
      - redis
    ports:
      - "8080:8080"
