version: "3.9"

services:
  app:
    image: 588738598492.dkr.ecr.ap-northeast-2.amazonaws.com/gsmc-ecr:latest
    container_name: backend-app
    ports:
      - "8080:8080"
    restart: always
    env_file:
      - .env
