spring:
  config:
    activate:
      on-profile: dev
  sql:
    init:
      mode: always
  cloud:
    aws:
      region:
        static: ${AWS_REGION:ap-northeast-2}
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      s3:
        bucket-name: ${AWS_S3_BUCKET_NAME}
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI:http://localhost:3000/callback}
            authorization-grant-type: authorization_code
            scope:
              - openid
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
    cors:
      allowed-origins:
        - "http://localhost:3000"
        - "http://localhost:3001"
        - "https://gsmc.io.kr"
        - "https://gsmc-admin.vercel.app"
    jwt:
      issuer: ${JWT_ISSUER:gsmc}
      access-token:
        secret: ${JWT_ACCESS_TOKEN_SECRET:f2ba6a534025117d28f915841d241bb1ecb758550803220812374020ef48d3cf}
        expiration: ${JWT_ACCESS_TOKEN_EXPIRATION:86400}
      refresh-token:
        secret: ${JWT_REFRESH_TOKEN_SECRET:f1b1ce8f8c978ab7b6bab79cf406c51fdf2383d1cd1b10bd1080dad3ceb1dda3}
        expiration: ${JWT_REFRESH_TOKEN_EXPIRATION:604800}
logging:
  level:
    org.jetbrains.exposed.sql.transactions: DEBUG
springdoc:
  api-docs:
    path: /api-docs
    groups:
      enabled: true
  swagger-ui:
    enabled: true
    disable-swagger-default-url: true
    display-request-duration: true
    tags-sorter: alpha
    operations-sorter: method
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  writer-with-default-pretty-printer: true
