spring:
  config:
    activate:
      on-profile: dev
  sql:
    init:
      mode: always
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      s3:
        bucket-name: ${AWS_S3_BUCKET_NAME}
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI:http://localhost:3000/callback}
            authorization-grant-type: authorization_code
            scope:
              - email
    cors:
      allowed-origins:
        - "http://localhost:3000"
        - "http://localhost:3001"
        - "https://gsmc.io.kr"
        - "https://gsmc-admin.vercel.app"
logging:
  level:
    org.jetbrains.exposed.sql.transactions: DEBUG
springdoc:
  api-docs:
    path: /api-docs
    groups:
      enabled: true
  swagger-ui:
    enabled: true
    disable-swagger-default-url: true
    display-request-duration: true
    tags-sorter: alpha
    operations-sorter: method
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  writer-with-default-pretty-printer: true
