spring:
  config:
    activate:
      on-profile: prod
    import: optional:.env[.properties]
  sql:
    init:
      mode: never
  cloud:
    aws:
      credentials:
        access-key: ${AWS_ACCESS_KEY}
        secret-key: ${AWS_SECRET_KEY}
      s3:
        bucket-name: ${AWS_S3_BUCKET_NAME}
    discord:
      webhook:
        url: ${DISCORD_WEBHOOK_URL}
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope:
              - email
    cors:
      allowed-origins:
        - "https://gsmc.io.kr"
        - "https://gsmc-admin.vercel.app"
    jwt:
      issuer: ${JWT_ISSUER}
      access-token:
        secret: ${JWT_ACCESS_TOKEN_SECRET}
        expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
      refresh-token:
        secret: ${JWT_REFRESH_TOKEN_SECRET}
        expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}
    springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false

