name: GSMC-Dev-CD

on:
  push:
    branches: [ "fix/cd-test" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t gsmc-application .

      - name: Tag Docker Image
        run: |
          docker tag gsmc-application:latest \
            ${{ steps.login-ecr.outputs.registry }}/gsmc-application:latest

      - name: Push Docker Image to ECR
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/gsmc-application:latest

      - name: Create appspec & scripts artifact
        run: |
          zip -r deploy.zip appspec.yml scripts docker-compose.yml

      - name: Upload to S3 for CodeDeploy
        run: |
          aws s3 cp deploy.zip s3://${{ secrets.S3_BUCKET }}/gsmc-application/deploy.zip

      - name: Trigger CodeDeploy
        run: |
          aws deploy create-deployment \
            --application-name gsmc-application \
            --deployment-group-name gsmc-application-group \
            --s3-location bucket=${{ secrets.S3_BUCKET }},key=gsmc-application/deploy.zip,bundleType=zip
