name: GSMC-CI
on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  Code-Format:
    name: Code Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Ktlint Format
        uses: ScaCap/action-ktlint@master
        with:
          github_token: ${{ github.token }}
          reporter: github-pr-check
          name: Code Format Report

  Test-And-Coverage:
    name: Test and Coverage
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
            fetch-depth: 0

      - name: Set up JDK 24
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '24'
          cache: gradle
      - name: Make Gradle Executable
        run: chmod +x ./gradlew

      - name: Create Coverage Directory
        run: mkdir -p .qodana/code-coverage

      - name: Run Tests With Jacoco
        run: ./gradlew test

      - name: Archive Jacoco Coverage
        uses: actions/upload-artifact@v5
        with:
          name: jacoco-coverage
          path: .qodana/code-coverage


  Qodana-Code-Quality-Scan:
    name: Qodana Code Quality Scan
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    environment: CI
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Qodana Scan
        uses: JetBrains/qodana-action@v2025.2
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
        with:
          pr-mode: false
          use-caches: true
          post-pr-comment: true
          use-annotations: true
          upload-result: true
          push-fixes: 'none'
